<div class="cntForm">
  <div class="boxRegister">
    <form [formGroup]="registerForm" novalidate (ngSubmit)="submitRegisterForm()">

      <div class="cntLogo">
        <img src="assets/img/logo.png" alt="">
      </div>

      <div class="cntInputs">
        <div class="inputs">

          <!-- Nome -->
          <div class="form-group">
            <input class="form-control" type="text" formControlName="name" placeholder="Nome">
          </div>

          <!-- CPF -->
          <div class="form-group flex">
            <p-inputMask type="text" formControlName="cpf" placeholder="CPF" mask="999.999.999-99">
            </p-inputMask>
            <span class="errorFormField" *ngIf="registerForm.get('cpf').hasError('pattern')">CPF Inválido</span>
          </div>

          <!-- Email -->
          <div class="form-group">
            <input class="form-control" type="email" formControlName="email" placeholder="E-mail">
            <span class="errorFormField" *ngIf="registerForm.get('email').hasError('pattern')">Email Inválido</span>
          </div>

          <!-- Endereço -->
          <div class="form-group">
            <input class="form-control" [value]="addressText" type="text" google-place (onSelect)="setAddress($event)">
          </div>

          <!-- Phone -->
          <div class="form-group flex">
            <p-inputMask formControlName="phone" mask="(99) 99999-9999" placeholder="(99) 9999-9999"></p-inputMask>
            <span class="errorFormField" *ngIf="registerForm.get('phone').hasError('pattern')">Telefone Inválido</span>
          </div>

          <!-- SENHA -->
          <div class="form-group">
            <input type="password" class="form-control" formControlName="senha" placeholder="Senha">
            <span class="errorFormField" *ngIf="registerForm.get('senha').hasError('minlength')">Mínimo 6
              caracteres</span>
            <span class="errorFormField" *ngIf="registerForm.get('senha').hasError('mismatch')">Senhas não
              conferem</span>
          </div>
          <!-- CONFIRMAÇÂO -->
          <div class="form-group">
            <input type="password" class="form-control" formControlName="conf_senha" placeholder="Confirmar senha">
            <span class="errorFormField" *ngIf="registerForm.get('senha').hasError('minlength')">Mínimo 6
              caracteres</span>
            <span class="errorFormField" *ngIf="registerForm.get('senha').hasError('mismatch')">Senhas não
              conferem</span>
          </div>
        </div>
      </div>

      <div class="contentBtn">
        <button class="btn btn_default" [disabled]="!registerForm.valid" type="submit" background>
          <span translate>Cadastrar</span>
        </button>
      </div>

      <div class="cntRegister">
        <span class="link" (click)="goToLogin()">Já sou cadastrado</span>
      </div>

      <div class="cntRegister">
        <span class="link" (click)="goToRegister()">Cadastrar múltiplos Remetentes</span>
      </div>

    </form>
  </div>
</div>