.cntAll{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    .cntTitle{
        flex: 0.1;
        margin: 15px auto;
    }
    .container-box-white{
        flex: 0.6;
        height: 300px;
        min-width: 320px;
    }
}