<div class="cntAll">
    <div class="cntTitle">
        <h2>Enviar mensagem</h2>
    </div>
    <div class="container-box-white">
        <form [formGroup]="messageForm" novalidate (ngSubmit)="submit()">

            <div class="form-group">
                <p-multiSelect formControlName="destinatarios" [options]="remetentes"
                    defaultLabel="Escolha os destinatários"></p-multiSelect>
            </div>

            <div class="form-group">
                <textarea class="form-control" formControlName="mensagem" cols="30" rows="10"></textarea>
            </div>

            <div class="contentBtn">
                <button class="btn btn_default" [disabled]="!messageForm.valid" type="submit">
                    <span translate>Enviar</span>
                </button>
            </div>

        </form>
    </div>
</div>