<div class="cntAll">
    <div class="cntImage">
        <img src="assets/img/background.png" alt="">
    </div>
    <div class="cntForm">
        <app-login *ngIf="method === 'login'" (changeMethod)="changeMethod($event)"></app-login>
        <app-register *ngIf="method === 'register'" (changeMethod)="changeMethod($event)"></app-register>
    </div>
</div>