.cntAll{
    display: flex;
    flex-direction: row;
    height: 100%;
    .cntImage {
        flex: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        background: lightgreen;
        position: relative;
        overflow: hidden;
        @media screen and (max-width: 768px) {
            display: none;
        }
        img {
            width: 900px;
            height: auto;
            object-fit: cover;
            object-position: center;
        }
    }
    .cntForm{
        flex: 1;
    }
}