<div class="navbar">
    <div class="container">
        <div class="logo">
            <img src="assets/img/logo.png" alt="">
        </div>
        <div class="user">
            Olá, {{remetente.name}}
            <a (click)="signout()" class="link">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>
    </div>
</div>