.navbar{
    height: 60px;
    background: lightgreen;
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        .logo{
            flex: 1;
            display: flex;
            justify-content: flex-start;
            img{
                height: 55px;
                width: auto;
            }
        }
        .user{
            flex: 1;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            a{
                color: #fff;
                i{
                    font-size: 20px;
                    margin: 10px;
                }
            }
        }
    }
}