<div class="cntAll">
    <div class="container-box-white">
        <div *ngIf="!remetentes">
            <h2>Selecione o arquivo a ser enviado</h2>
            <input id="file" type="file" name="file" (change)="submit($event)" />
        </div>

        <p-table [value]="remetentes" *ngIf="remetentes">
            <ng-template pTemplate="header">
                <tr>
                    <th *ngFor="let col of cols">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-remetente>
                <tr>
                    <td *ngFor="let col of cols">
                        {{remetente[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</div>