@import url('../../../styles.less');
.cntForm {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100%;
    position: relative;
    background-color: #fff;
    @media screen and (max-width: 768px) {
        flex: 1;
        background-image: url("/assets/img/login_city_image_2.png");
        background-position: left 0 top 700px;
        height: 100%;
        background-repeat: no-repeat;
        background-size: contain;
        background-attachment: scroll;
    }
    .boxLogin {
        min-height: 400px;
        max-width: 400px;
        width: 100%;
        padding: 15px;
        form {
            display: flex;
            flex-direction: column;
            height: 100%;
            align-items: center;
            .cntLogo {
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 50px;
                max-height: 130px;
                img {
                    width: 200px;
                    height: auto;
                }
            }
            .cntInputs {
                flex: 2;
                display: flex;
                align-items: center;
                padding: 0px 20px;
                text-align: right;
                width: 100%;
                .inputs {
                    flex: 1;
                }
            }
            .contentBtn {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 20px;
                .btn_default {
                    background: @orange3;
                    color: #fff;
                    min-width: 100px;
                }
            }
            .cntRegister {
                margin-top: 30px;
                text-align: center;
                .txt {
                    font-weight: 700;
                    color: @grey3;
                }
                .link {
                    margin-left: 5px;
                    font-weight: 700;
                    cursor: pointer;
                    color: @orange3;
                    text-decoration: underline;
                }
            }
        }
    }
    .cntCopyRight {
        color: @grey3;
        padding: 20px;
        text-align: center;
        position: absolute;
        bottom: 0px;
        .radius(5px);
        padding: 5px 10px;
        background: rgba(255, 255, 255, 0.9);
    }
}