<div class="cntForm">
    <div class="boxLogin">
        <form [formGroup]="loginForm" novalidate (ngSubmit)="submitLoginForm()">

            <div class="cntLogo">
                <img src="assets/img/logo.png" alt="">
            </div>

            <div class="cntInputs">
                <div class="inputs">
                    <div class="form-group">
                        <input class="form-control" autofocus type="email" formControlName="email" placeholder="E-mail"
                            pInputText>
                    </div>
                    <div class="form-group">
                        <input class="form-control" autofocus type="password" formControlName="senha"
                            placeholder="Senha" pInputText>
                    </div>
                </div>
            </div>

            <div class="contentBtn">
                <button class="btn btn_default" [disabled]="!loginForm.valid" type="submit">
                    <span translate>Entrar</span>
                </button>
            </div>

            <div class="cntRegister">
                <span class="txt">Você é novo?</span>
                <span class="link" (click)="register()">Cadastre-se</span>
                <span> para acessar a plataforma</span>
            </div>

        </form>
    </div>
</div>