/* You can add global styles to this file, and also import other style files */
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('../node_modules/primeng/resources/themes/nova-light/theme.css');
@import url('../node_modules/primeng/resources/primeng.min.css');
@import url('../node_modules/primeicons/primeicons.css');

// Variáveis

@bodyBG: #F0F3F4;
@inputWarn: #ff0d00;
// GRAY************************
@grey1: #e0e0e0;
@grey2: #bdbdbd;
@grey3: #9e9e9e;
@grey4: #666666;
//GREEN************************
@green1: #81c784;
@green2: #43a047;
@green3: #1b5e20;
// BLUE************************
@blue1: #42a5f5;
@blue2: #1976d2;
@blue3: #0d47a1;
// RED*************************
@red1: #e57373;
@red2: #d32f2f;
@red3: #d50000;
// YELLOW**********************
@yellow1: #fff176;
@yellow2: #ffeb3b;
@yellow3: #fbc02d;
// ORANGE**********************
@orange1: #efd4b8;
@orange2: #f3b77a;
@orange3: #fe8405;

// Variáveis

// Funções

.fadeIn(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.fadeInUp(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    animation-name: fadeInUp;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInUp {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
}

.fadeInRight(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInRight {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
}

.fadeInLeft(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    @keyframes fadeInLeft {
        0% {
            opacity: 0;
            -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
}

.fadeOut(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

.zoomIn(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes zoomIn {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }
        50% {
            opacity: 1;
        }
    }
    @keyframes zoomIn {
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }
        50% {
            opacity: 1;
        }
    }
}

.bounceIn(@dutarion: 1s, @delay: 0s) {
    animation-delay: @delay;
    -webkit-animation-delay: @delay;
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @keyframes bounceIn {
        0%, 20%, 40%, 60%, 80%, 100% {
            -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        }
        0% {
            opacity: 0;
            -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
        }
        20% {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
        }
        40% {
            -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9);
        }
        60% {
            opacity: 1;
            -webkit-transform: scale3d(1.03, 1.03, 1.03);
            transform: scale3d(1.03, 1.03, 1.03);
        }
        80% {
            -webkit-transform: scale3d(.97, .97, .97);
            transform: scale3d(.97, .97, .97);
        }
        100% {
            opacity: 1;
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
}

.pulse(@dutarion: 1s) {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    @-webkit-keyframes pulse {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
    @keyframes pulse {
        0% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
        50% {
            -webkit-transform: scale3d(1.05, 1.05, 1.05);
            transform: scale3d(1.05, 1.05, 1.05);
        }
        100% {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
        }
    }
}

.flipInX(@dutarion: 1s) {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    animation-name: flipInX;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes flipInX {
        0% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }
    @keyframes flipInX {
        0% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
            transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }
}

.flipInY(@dutarion: 1s) {
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    @-webkit-keyframes flipInY {
        0% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }
    @keyframes flipInY {
        0% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
            opacity: 0;
        }
        40% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
            -webkit-transition-timing-function: ease-in;
            transition-timing-function: ease-in;
        }
        60% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
            opacity: 1;
        }
        80% {
            -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
            transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
        100% {
            -webkit-transform: perspective(400px);
            transform: perspective(400px);
        }
    }
}

.shake(@dutarion: 1s, @pixel: 5px, @count: 1) {
    -webkit-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: @dutarion;
    animation-duration: @dutarion;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-iteration-count: @count;
    animation-iteration-count: @count;
    @-webkit-keyframes shake {
        0%, 100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        10%, 30%, 50%, 70%, 90% {
            -webkit-transform: translate3d(-@pixel, 0, 0);
            transform: translate3d(-@pixel, 0, 0);
        }
        20%, 40%, 60%, 80% {
            -webkit-transform: translate3d(@pixel, 0, 0);
            transform: translate3d(@pixel, 0, 0);
        }
    }
    @keyframes shake {
        0%, 100% {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }
        10%, 30%, 50%, 70%, 90% {
            -webkit-transform: translate3d(-@pixel, 0, 0);
            transform: translate3d(-@pixel, 0, 0);
        }
        20%, 40%, 60%, 80% {
            -webkit-transform: translate3d(@pixel, 0, 0);
            transform: translate3d(@pixel, 0, 0);
        }
    }
}

.transition-fade(@time) {
    -webkit-transition: all @time ease;
    transition: all @time ease;
}

.transition-fade-circ(@time) {
    -webkit-transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transition: all @time cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.blur(@ra: 5px) {
    -webkit-filter: blur(@ra);
    -moz-filter: blur(@ra);
    -o-filter: blur(@ra);
    -ms-filter: blur(@ra);
    filter: blur(@ra);
}

.boxShadow(@b: none) {
    -webkit-box-shadow: @b;
    -moz-box-shadow: @b;
    -ms-box-shadow: @b;
    -o-box-shadow: @b;
    box-shadow: @b;
}

.radius(@ra: 5px) {
    -webkit-border-radius: @ra;
    -moz-border-radius: @ra;
    -ms-border-radius: @ra;
    -o-border-radius: @ra;
    border-radius: @ra;
}

.bgGradient(@rgba1, @rgba2, @angle : 0deg) {
    background-image: -webkit-linear-gradient(@angle, @rgba1, @rgba2);
    background-image: -moz-linear-gradient(@angle, @rgba1, @rgba2);
    background-image: -ms-linear-gradient(@angle, @rgba1, @rgba2);
    background-image: -o-linear-gradient(@angle, @rgba1, @rgba2);
    background-image: linear-gradient(@angle, @rgba1, @rgba2);
}

.grayscale(@val: 0%) {
    -webkit-filter: grayscale(@val);
    -moz-filter: grayscale(@val);
    -ms-filter: grayscale(@val);
    -o-filter: grayscale(@val);
    filter: grayscale(@val);
}

// Funções


* {
    box-sizing: border-box;
    outline   : none !important;
  }
  
  body {
    background: @bodyBG;
    color     : #586066;
    position  : relative;
    font-size : 14px;
    margin    : 0px;
    height: 100vh;
  }
  
  .container {
    max-width: 1170px !important;
  }
  
  html {
    font-size: unset !important;
  }

  button {
    border: none;
    cursor: pointer;
    .radius(5px);
  }
  
  //*******************************
  //FORMULARIOS********************
  ::placeholder {
    color    : @grey2  !important;
    opacity  : 1 !important;
    font-size: 12px !important;
  }
  
  :-ms-input-placeholder {
    color    : @grey2  !important;
    font-size: 12px !important;
  }
  
  ::-ms-input-placeholder {
    color    : @grey2  !important;
    font-size: 12px !important;
  }
  
  //*******************************
  //FORMULARIOS********************
  .form-group {
    position     : relative;
    margin-bottom: 15px;
  
    &.invalid_meta_info {
      .ui-state-default {
        border: 1px solid @inputWarn  !important;
      }
    }
  
    [ng-reflect-css-class~=fabio] {
      display         : block;
      font-size       : 1rem !important;
      color           : #495057 !important;
      border          : 1px solid @grey3  !important;
      width           : 100%;
      padding         : .375rem .75rem;
      font-size       : 1rem;
      line-height     : 1.5;
      background-color: #fff;
      background-clip : padding-box;
      border-radius   : .25rem;
      .boxShadow(0px 4px 10px 0px rgba(5, 5, 5, 0.2)) !important;
  
      input {
        background  : transparent;
        border      : none;
        padding-left: 40px !important;
        width       : 100% !important;
      }
  
      .intl-tel-input {
        background: transparent;
        border    : none;
        width     : 100%;
  
        .flag-container {
          &:hover {
            .selected-flag {
              background-color: transparent;
            }
          }
  
          .selected-flag {
            padding: 0;
          }
        }
      }
  
      &.ng-invalid:not(.ng-untouched) {
        border: 1px solid @inputWarn  !important;
      }
    }
  
    .form-control {
      padding  : .375rem .75rem !important;
      font-size: 1rem !important;
      color    : #495057 !important;
      border   : 1px solid @grey2  !important;
      .boxShadow(0px 4px 10px 0px rgba(5, 5, 5, 0.2));
  
      &:disabled {
        border    : none;
        color     : @grey2  !important;
        cursor    : not-allowed;
        background: @grey2;
      }
  
      &:focus {
        color           : #495057;
        background-color: #fff;
        border-color    : #80bdff;
        outline         : 0;
        .boxShadow(0px 4px 10px 0px rgba(5, 5, 5, 0.2));
      }
  
      &.ng-invalid:not(.ng-untouched) {
        border: 1px solid @inputWarn  !important;
      }
    }
  
    input {
      &:read-only {
        background  : #e9ecef !important;
        border-color: #ced4da !important;
        outline     : 0;
        box-shadow  : none !important;
        color       : @grey2  !important;
        cursor      : not-allowed;
      }
    }
  
    .errorFormField {
      position : absolute;
      color    : @inputWarn;
      font-size: 10px
    }
  
    >label {
      color         : @blue3;
      text-transform: uppercase;
    }
  }
  
  #simulador {
    input[type=radio] {
      display: none;
    }
  
    input[type=checkbox],
    input[type=radio] {
      display: none;
    }
  }
  
  //*******************************
  // FORMATAÇÃO DO SCROLL**********
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: @grey3;
    padding   : 0px 20px;
  }
  
  ::-webkit-scrollbar-thumb {
    .radius(5px);
    background: rgba(153, 153, 153, 0.5);
  
    &:window-inactive {
      background: @grey3;
    }
  }

  input {
    background  : transparent;
    border      : none;
    padding-left: 40px !important;
    width       : 100% !important;
  }

  .container-box-white {
    padding: 15px;
    background: #fff;
    border: 1px solid @grey2;
    .boxShadow(0px 3px 10px 0px rgba(56, 56, 56, 0.2));
    .radius(5px);
}

.ui-multiselect{
    width: 100%;
}

.contentBtn {
    display: flex;
    justify-content: center;
    .btn_default {
        flex: 1;
        background: @green2;
        color: #fff;
        max-width: 300px;
    }
}

.btn_default {
    padding: 10px 40px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    .boxShadow(0px 4px 10px 0px rgba(5, 5, 5, 0.2));
    cursor: pointer;
    .radius(5px);
    &.rounded {
        .radius(20px) !important;
    }
    &:disabled {
        background: #bbb !important;
        cursor: not-allowed;
        .grayscale(100%);
    }
}

p-inputmask{
    width: 100%;
    padding: 0 !important;
    font-size: 1rem !important;
    color    : #495057 !important;
    border   : 1px solid @grey2  !important;
    .boxShadow(0px 4px 10px 0px rgba(5, 5, 5, 0.2));
    input{
        padding: 0.375rem 0.75rem !important;
    }
}

.link{
    cursor: pointer;
}